.clearfix::before {
    content: " ";
    display: block;
    clear: both;
  }
 
  /* .clearfix {
    overflow: auto;
  } */

  header{
    float: left;
  }

  nav {
    float: right;
  }


  /* aside {
    float: left;
  }
  
  main {
    float: left;
  } */