header {
    background-color: #ffffff;
    border-color: #cccccc;
    background: #4aaaa5;

    color: #fff;
    margin: 0px;
    padding: 20px;
}

.container {
    width: 960px;
    margin: auto;
    /* width: 50%; */
    /* border: 3px solid green; */
    padding: 10px
}

body {
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
}

 /* .content {
    background-color: #ffffff;
    background-color: #000;
    border-color: #dddddd;
}  */

heading {
    font-family: Georgia, Times, 'Times New Roman', serif;
    color: #4aaaa5;

    padding: 0px;
    margin: 0px;
}

footer {
    background-color: #666666;
    margin: 0px;
    padding: 10px;
    color: #fff;
    text-align: center;
    font-size: 10px; 
}

.button {
    background-color: #4aaaa5;
    color: #fff;
    padding: 6px;
    width: 70px;
}
/* 
input {
    width: 100%;
  } */

 input[type=text] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
 } 

textarea {
    width: 100%;
    padding: 30px;
    margin: 0px;
} 
a {
    /* color: #4aaaa5; */
}